<div class="container">
  <header>
    <h1><a routerLink="/" title="Home">EComm</a></h1>
    <nav class="pt-3">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="products">Products</a></li>
        <li><i class="fa fa-search" aria-hidden="true"></i> </li>
        <li class="list-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          @if(cartItems.length>0){
            <sup>{{cartItems.length}}</sup>
            <ul>
              @for(item of cartItems;track item){
                <li>
                  <span><img [src]="item.productImageUrl" height="30px" /></span>
                  <span>{{item.productShortName}}</span>
                  <span>{{item.quantity}} X ${{item.productPrice}}</span>
                  <button type="button" class="float-end" (click)="removeItem(item.cartId)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </li>
              }
              <li class="subtotal-list">Sub total: ${{subTotal}}<br />{{cartItems.length}} items</li>
              <li class="text-end"><a routerLink="/checkout" class="btn btn-primary">Check Out</a></li>
            </ul>
          }
          @else {
            <ul><li>Cart is empty!</li></ul>
          }        
                      
        </li>
        <li class="user-profile text-end"><i class="fa fa-user-circle" aria-hidden="true"></i><span></span>
          <ul>
            @if(loggedObj2.custId == 0){
              <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button> </li>
              <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regModal">Register</button></li>
            } @else {
              <li>Hey {{ loggedObj2.name }}!</li>
              <li class="d-block"><a routerLink="/" (click)="logOutUser()">Log Out</a></li>
            }
            
          </ul>
        </li>
      </ul>
    </nav>
    <div class="floatClear"></div>
    
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
<div class="modal" id="loginModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #loginForm="ngForm">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="col-12">
              <label for="username">Username</label>
              <input id="username" name="username" [(ngModel)]="loginObj.UserName" type="text" class="form-control" />
            </div>
            <div class="col-12">
              <label for="userpassword">Password</label>
              <input type="password" name="userpassword" id="userpassword" [(ngModel)]="loginObj.UserPassword" class="form-control" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onLogin()">Sign In</button>
          </div>
        </form>
      </div>
    </div>
</div>

  <div class="modal" id="regModal" tabindex="-2">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #regForm="ngForm">
          <div class="modal-header">
            <h5 class="modal-title">Registration</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <label for="name">Username</label>
                  <input type="text" class="form-control" [(ngModel)]="registerObj.Name" id="name" name="name" />
                </div>
                <div class="col-12">
                  <label for="password">Set Password</label>
                  <input type="password" class="form-control" [(ngModel)]="registerObj.Password" id="password" name="password" />
                </div>
                <div class="col-12">
                  <label for="mobile">Contact Number</label>
                  <input type="number" class="form-control" [(ngModel)]="registerObj.MobileNo" id="mobile" name="mobile" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="onRegister()">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
